/*======================================================================
  WEBSITE CSS FOR AZYRAX.COM BY AZYRAX. DO NOT USE WITHOUT PERMISSION.
======================================================================*/
:root {
  --azyrax-gradient: linear-gradient(140deg, #daf2f2, #dadaf2, #efdaf2);
}

* {
  scrollbar-width: thin;
}
.html-formatter > * + * {
  margin-top: 14px;
}

p, .rich-text__text {
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
}

h1 {
font-size: 2rem;
}
h2 {
font-size: 1.5rem;
}
h3 {
font-size: 1.17rem;
}
h4 {
font-size: 1rem;
}
h5 {
font-size: 0.83rem;
}
h6 {
font-size: 0.67rem;
}
/*======================================================================
  ANNOUNCEMENT BAR AND HEADER CUSTOMIZATIONS
======================================================================*/
.announcement-bar {
  background-image: var(--azyrax-gradient);
  color: var(--color-on-primary);
  font-family: var(--font-family-base);
  font-size: 0.875rem;
  text-transform: none;
  padding: 8px;
  border-bottom: 0px;
}
.announcement-bar__inner {
  padding: 0px;
}
.announcement-bar__label {
  font-weight: 400;
}

.header__grid {
  padding: 16px 0px;
}

.header__logo-image {
  padding: 0px !important;
}

.header__nav {
  padding: 0px !important;
  margin-top: 16px;
}

.header__link {
  padding: 0px 16px;
  letter-spacing: 0.05rem;
}
.header__link--icon {
  line-height: 1.2;
}

/*======================================================================
  MEMBERSHIP AREA CUSTOMIZATIONS
======================================================================*/
.button-outline {
  border-radius: 0px;
}

/*======================================================================
  FOOTER CUSTOMIZATIONS
======================================================================*/

/* Hide original footer */
.footer__inner {
display: none !important;
}
.footer__line {
  border-top: 0px !important;
}

/* Custom footer: 4-column info */
.footer-row4-container {
  background-image: var(--gradient);
  width: 100%;
}
.footer-row4 {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0px 48px;
}

.footer-column4 {
  display: flex;
  width: 25%;
  padding: 16px 8px;
  color: var(--color-background);
  text-align: left;
  justify-content: center;
}

@media screen and (max width: 640px;) {
  .footer-row4 {
    display: grid;
    width: 100%;
  }
  .footer-column4 {
    width: 100%;
  }
}

.footer-column4 p, .footer-column4 b, .footer-column4 a {
  color: var(--color-background);
  font-size: 0.875rem;
}

.row4svg {
  margin-right: 16px;
  fill: var(--color-background);
}
